Einführung: Task 1.1

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

## Iris-Datensatz laden

Diese Variante ist **lesbar und gut geeignet für Datenanalyse**.  
Sie liefert `pandas.DataFrame` für Features (`X`) und `pandas.Series` für Zielwerte (`y`).

In [2]:
# DataFrame-Variante
iris_X_df, iris_y_df = datasets.load_iris(return_X_y=True, as_frame=True)

# Zielspalte ergänzen (optional)
iris_X_df["target"] = iris_y_df

# Vorschau
iris_X_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## Funktion zur Mittelwertberechnung

Diese Funktion verwendet `apply()` auf Spaltenebene und berechnet den Mittelwert jeder Spalte.

In [3]:
def calcMeans(dataframe):
    return dataframe.apply(lambda col: col.mean())

means_df = calcMeans(iris_X_df)

print("Mittelwerte:\n")
print(means_df)

print("Kontrolle:\n")
print(iris_X_df.describe())

Mittelwerte:

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
target               1.000000
dtype: float64
Kontrolle:

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)      target
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

## NumPy ndarray

In [4]:
# NumPy-Variante
iris_X_np, iris_y_np = datasets.load_iris(return_X_y=True)

# Mittelwert mit NumPy direkt
means_np = np.mean(iris_X_np, axis=0)

print("⚡ Mittelwerte (NumPy ndarray):\n")
print(means_np)

⚡ Mittelwerte (NumPy ndarray):

[5.84333333 3.05733333 3.758      1.19933333]

## hallso